@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, hsl(var(--primary)), hsl(var(--background)), hsl(var(--secondary)), hsl(var(--accent)));
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 271 91% 65%;
    --primary-foreground: 271 83% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 183 95% 53%;
    --accent-foreground: 183 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 231 30% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 271 91% 65%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 20% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 183 95% 53%;
    --accent-foreground: 240 10% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 25%;
    --input: 231 20% 25%;
    --ring: 271 91% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  section {
    @apply py-20 md:py-32;
  }
}

.glassmorphism {
    @apply bg-card/30 backdrop-blur-lg border border-primary/20;
}
